
<!--
    This page shows a map and does things on that.
-->


<ion-view view-title="Map">
  <ion-content class="fill-height">
    <div id="main-map"></div>
  </ion-content>
  <!-- <ion-footer-bar class="bar-dark"> -->
    <!-- [> <h1 class="title">Footer?</h1> <] -->
      <!-- <div class="button-bar"> -->
          <!-- <a class="button" ng-click="showAlert('Coming soon...')">Planta anterior</a> -->
          <!-- <div class="button" ng-click="showAlert('Coming soon...')">Planta 1</div> -->
          <!-- <a class="button" ng-click="showAlert('Coming soon...')">Planta siguiente</a> -->
      <!-- </div> -->
  <!-- </ion-footer-bar> -->
</ion-view>
